*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05ch;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: royalblue;
  color: #333;
}

#root {
  width: 100%;
}